@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  color: #dedede;
  font-family: Rubik;
  font-size: 24px;
}
.parent {
  display: flex;
  justify-content: center;
}
.main {
  width: 600px;
  max-width: 100%;
  min-height: 100vh;
  max-height: fit-content;
  background-color: #ffffff10;
  padding: 15px;
}
:link {
  color: #5090bb;
}
:visited {
  color: #5090bb;
}
.option {
  width: fit-content;
  border-left: solid 3px #202020;
  padding: 5px 0 5px 8px;
  transition: 0.1s;
  margin: 0 0 0 2px;
  text-decoration: none;
}
.option:hover {
  border-left: solid 5px #303030;
}
a {
  text-decoration: none;
}
.content {
  font-size: 18px;
  text-align: justify;
}
embed {
  width: 100%;
  height: 50px;
}
.profile {
  background: #101010;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  width: 100%;
  transform: translate(-30px, 0);
}
.pfp {
  width: 72px;
  height: 72px;
}
.name {
  letter-spacing: 1px;
}
.profile a {
  color: #dedede;
}
/* .marquee {
  width: 100%;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 5s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0%, 0);
  }
} */
